@if (loading) {
  <div class="leaderboard-loading">
    <mat-spinner diameter="40" />
  </div>
} @else if (apiError) {
  <p class="leaderboard-error">{{ 'leaderboards.apiUnavailable' | translate }}</p>
} @else {
  <div class="leaderboard-table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="displayPosition">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'leaderboards.columns.position' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.displayPosition }}</td>
      </ng-container>

      <ng-container matColumnDef="teamName">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'leaderboards.columns.team' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.teamName }}</td>
      </ng-container>

      <ng-container matColumnDef="championships">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [matTooltip]="'leaderboards.columns.championships' | translate">
          🏆
        </th>
        <td mat-cell *matCellDef="let row">{{ row.championships }}</td>
      </ng-container>

      <ng-container matColumnDef="finals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'leaderboards.columns.finals' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.finals }}</td>
      </ng-container>

      <ng-container matColumnDef="conferenceFinals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'leaderboards.columns.conferenceFinals' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.conferenceFinals }}</td>
      </ng-container>

      <ng-container matColumnDef="secondRound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'leaderboards.columns.secondRound' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.secondRound }}</td>
      </ng-container>

      <ng-container matColumnDef="firstRound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'leaderboards.columns.firstRound' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.firstRound }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
}
