:host ::ng-deep .mat-sort-header-container {
  justify-content: flex-end; // default: all headers right
}

/* Name header left-aligned */
:host ::ng-deep .mat-column-name .mat-sort-header-container {
  justify-content: flex-start;
}

/* Score header centered */
:host ::ng-deep .mat-column-score .mat-sort-header-container {
  justify-content: center;
}

.mat-column-games,
.mat-column-goals,
.mat-column-assists,
.mat-column-shots,
.mat-column-plusMinus,
.mat-column-ppp,
.mat-column-shp,
.mat-column-hits,
.mat-column-penalties,
.mat-column-blocks,
.mat-column-points,
.mat-column-wins,
.mat-column-shutouts,
.mat-column-gaa,
.mat-column-savePercent,
.mat-column-saves {
  text-align: center;
}

.mat-column-position {
  text-align: center;
}

.mat-column-name {
  min-width: 150px;
}

.mat-mdc-form-field {
  width: 100%;
}

.stats-table-wrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.no-results {
  text-align: center;
  height: 56px;
}

.mat-mdc-row:hover {
  background-color: var(--mat-sys-primary-container);
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  padding-top: 60px;
  align-items: flex-start;
  justify-content: center;
}
