<div class="stats-table-wrapper mat-elevation-z4" [attr.id]="tableId" tabindex="-1" #tableRoot>
  <p class="sr-only" [attr.id]="instructionsId">
    {{ 'a11y.tableNavigationHint' | translate }}
  </p>

  @if (showSearch) {
    <div class="search-container">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "table.playerSearch" | translate }}</mat-label>
        <input matInput type="search" autocomplete="off"
          (input)="filterItems($event)"
          (keydown)="onSearchKeydown($event)"
          #searchInput />
      </mat-form-field>
    </div>
  }

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc"
      [attr.aria-describedby]="instructionsId">

      <!-- Position column (rank + optional checkbox) -->
      @if (showPositionColumn) {
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>
            @if (selectRow) {
              <span matTooltip="{{ 'tooltip.comparePositionColumn' | translate }}">
                {{ "tableColumnShort.position" | translate }}
              </span>
            } @else {
              {{ "tableColumnShort.position" | translate }}
            }
          </th>
          <td mat-cell *matCellDef="let row; let i = index"
            (click)="$event.stopPropagation()">
            @if (selectRow) {
              <mat-checkbox
                [checked]="isRowSelected(row)"
                [disabled]="!isRowSelected(row) && !(canSelectRow$ | async)"
                (change)="onRowSelectToggle(row)"
                [attr.aria-label]="getRowAriaLabel(row, 'a11y.selectToCompare')">
                {{ getPositionDisplay(row, i) }}
              </mat-checkbox>
            } @else {
              {{ getPositionDisplay(row, i) }}
            }
          </td>
        </ng-container>
      }

      <!-- Dynamic column renderer -->
      @for (column of dynamicColumns; track column.field) {
        <ng-container [matColumnDef]="column.field">
          @if (column.sortable !== false) {
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="getCellClass(column)"
              matTooltip="{{ 'tableColumn.' + column.field | translate }}">
              @if (getHeaderIconType(column) === 'emoji') {
                {{ column.icon!.name }}
              } @else if (getHeaderIconType(column) === 'material') {
                <mat-icon>{{ column.icon!.name }}</mat-icon>
              }
              <span [class.sr-only]="column.icon">
                {{ "tableColumnShort." + column.field | translate }}
              </span>
            </th>
          } @else {
            <th mat-header-cell *matHeaderCellDef
              [ngClass]="getCellClass(column)"
              matTooltip="{{ 'tableColumn.' + column.field | translate }}">
              @if (getHeaderIconType(column) === 'emoji') {
                {{ column.icon!.name }}
              } @else if (getHeaderIconType(column) === 'material') {
                <mat-icon>{{ column.icon!.name }}</mat-icon>
              }
              <span [class.sr-only]="column.icon">
                {{ "tableColumnShort." + column.field | translate }}
              </span>
            </th>
          }
          <td mat-cell *matCellDef="let element"
            [ngClass]="getCellClass(column)">
            {{ formatCell
                ? formatCell(column.field, getCellValue(element, column.field))
                : (getCellValue(element, column.field) ?? "-") }}
          </td>
        </ng-container>
      }

      <tr mat-header-row (keydown)="onHeaderKeydown($event)"
        *matHeaderRowDef="displayedFields; sticky: true"></tr>
      <tr mat-row
        [class.clickable-row]="clickable"
        (click)="clickable && selectItem(row)"
        (focus)="onRowFocus(i)"
        (keydown)="onRowKeydown($event, row, i)"
        [attr.tabindex]="getRowTabIndex(i)"
        [attr.data-row-index]="i"
        [class.a11y-active]="i === activeRowIndex"
        [attr.aria-label]="clickable ? getRowAriaLabel(row, 'a11y.openPlayerCard') : null"
        [attr.aria-haspopup]="clickable ? 'dialog' : null"
        *matRowDef="let row; columns: displayedFields; let i = index">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-results" [colSpan]="displayedFields.length">
          <span>
            @if (apiError) {
              {{ "table.apiUnavailable" | translate }}
            } @else if (loading) {
              {{ "table.loading" | translate }}
            } @else {
              {{ "table.noSearchResults" | translate }}
            }
          </span>
          @if (loading && !apiError) {
            <mat-progress-bar class="loading-bar" mode="buffer"
              [value]="loadingProgress" [bufferValue]="loadingBuffer">
            </mat-progress-bar>
          }
        </td>
      </tr>
    </table>
  </div>
</div>
