<div class="stats-table-wrapper">
  @if (loading) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
  }
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortStart="desc"
    class="mat-elevation-z8"
  >
    <!-- Auto increment position column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>
        {{ "tableColumn.position" | translate }}
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- Dynamic column renderer based on data -->
    <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "tableColumn." + column | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
