<div class="comparison-dialog" [attr.aria-label]="'Vertailu: ' + data.playerA.name + ' vs ' + data.playerB.name">
  <button mat-icon-button (click)="dialogRef.close()" #closeButton
    [attr.aria-label]="'a11y.closeComparisonDialog' | translate">
    <mat-icon fontIcon="close" />
  </button>
  <div class="dialog-header">
    <h2>{{ 'comparison.playerTitle' | translate}}</h2>
    @if (teamName) {
    <span class="ingress-team">{{ teamName }}</span>
    }
  </div>
  <mat-tab-group>
    <mat-tab [label]="'comparison.statsTab' | translate">
      <app-comparison-stats [playerA]="data.playerA" [playerB]="data.playerB"
        [isMobile]="(isNarrow$ | async) ?? false" />
    </mat-tab>
    <mat-tab [label]="'comparison.graphsTab' | translate">
      <app-comparison-radar [playerA]="data.playerA" [playerB]="data.playerB" />
    </mat-tab>
  </mat-tab-group>
</div>