<div class="position-filter-container">
  <label class="position-filter-label">{{ "positionFilter.label" | translate }}</label>
  <mat-button-toggle-group
    [value]="positionFilter"
    (change)="onPositionChange($event)"
    [attr.aria-label]="'positionFilter.ariaLabel' | translate"
  >
    <mat-button-toggle value="all">
      {{ "positionFilter.all" | translate }}
    </mat-button-toggle>
    <mat-button-toggle value="F">
      {{ "positionFilter.forwards" | translate }}
    </mat-button-toggle>
    <mat-button-toggle value="D">
      {{ "positionFilter.defensemen" | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
