<div class="leaderboards">
  <mat-tab-group>
    <mat-tab [label]="'leaderboards.tabs.playoffs' | translate">
      <ng-template matTabContent>
        <app-leaderboard
          [fetchFn]="playoffsFetchFn"
          [columns]="playoffsColumns"
        />
      </ng-template>
    </mat-tab>
    <mat-tab [label]="'leaderboards.tabs.regular' | translate">
      <ng-template matTabContent>
        <app-leaderboard
          [fetchFn]="regularFetchFn"
          [columns]="regularColumns"
          [formatCell]="regularFormatCell"
        />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
