<mat-form-field subscriptSizing="dynamic">
  <mat-label>{{ "season.selector" | translate }}</mat-label>
  <mat-select [value]="selectedSeason" (selectionChange)="changeSeason($event)">
    <mat-select-trigger>
      @if (selectedSeason === 'all') {
        {{ "season.allSeasons" | translate }}
      } @else {
        {{ selectedSeasonText || selectedSeason }}
      }
    </mat-select-trigger>

    <mat-option [value]="'all'">
      {{ "season.allSeasons" | translate }}
    </mat-option>

    @for (season of seasons; track season.season) {
    <mat-option [value]="season.season">
      {{ season.text }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
