<div class="min-games-slider">
  <div class="range-slider-label">
    <span>{{ "minGamesSlider.label" | translate }}</span>
    <span
      ><strong>{{ minGames }}</strong></span
    >
  </div>
  <mat-slider
    id="min-games-slider"
    [min]="0"
    [max]="maxGames"
    [step]="1"
    [disabled]="maxGames === 0"
    [aria-label]="'minGamesSlider.ariaLabel' | translate"
    discrete
  >
    <input
      matSliderThumb
      [value]="minGames"
      (valueChange)="onValueChange($event)"
    />
  </mat-slider>
</div>
