<a
  class="skip-link"
  href="#stats-table"
  (click)="skipToTarget('stats-table', $event)"
>
  {{ 'a11y.skipToTable' | translate }}
</a>

<main class="main">
  <div class="content">
    <div class="title-row">
      <h1 class="mat-display-1">{{ "pageTitle" | translate }}</h1>
      <button
        mat-icon-button
        type="button"
        (click)="openHelpDialog()"
        [attr.aria-label]="'a11y.openHelpDialog' | translate"
        [matTooltip]="'a11y.openHelpDialog' | translate"
      >
        <mat-icon fontIcon="info" />
      </button>
    </div>

    <app-top-controls [context]="controlsContext" />

    <app-navigation [tabPanel]="tabPanel" />
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  </div>
</main>
<app-footer />
