<mat-card
  [class.player-card]="true"
  [class.season-mode]="hasSeasons && selectedTabIndex === 1"
>
  <button mat-icon-button (click)="onNoClick()">X</button>
  <mat-card-header>
    <mat-icon
      mat-card-avatar
      fontIcon="account_circle"
      class="card-title-icon"
    />
    <mat-card-title>{{ data.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (hasSeasons) {
    <mat-tab-group (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="{{ 'playerCard.all' | translate }}">
        <div class="tab-content">
          <table mat-table [dataSource]="stats" class="mat-elevation-z2">
            <ng-container matColumnDef="label">
              <td mat-cell *matCellDef="let stat" class="mat-cell-label">
                {{ stat.label | translate }}
              </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <td mat-cell *matCellDef="let stat" class="mat-cell-value">
                {{
                  stat.value !== null && stat.value !== undefined
                    ? stat.value
                    : "-"
                }}
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'playerCard.bySeason' | translate }}">
        <div class="tab-content">
          <div class="season-table-container">
            <table
              mat-table
              [dataSource]="seasonDataSource"
              class="mat-elevation-z2 season-table"
            >
              @for (column of seasonColumns; track column) {
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "tableColumn." + column | translate }}
                </th>
                <td mat-cell *matCellDef="let season">
                  {{ season[column] !== "" ? season[column] : "-" }}
                </td>
              </ng-container>
              }

              <tr mat-header-row *matHeaderRowDef="seasonColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: seasonColumns"></tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    } @else {
    <table mat-table [dataSource]="stats" class="mat-elevation-z2">
      <ng-container matColumnDef="label">
        <td mat-cell *matCellDef="let stat" class="mat-cell-label">
          {{ stat.label | translate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let stat" class="mat-cell-value">
          {{ stat.value !== "" ? stat.value : "-" }}
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }
  </mat-card-content>
</mat-card>
